{% include 'navbar.html'%}

{% load static %}


       
        
<!--/banner-->
<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3>Create the lifestyle
                        <span>you desire</span>
                    </h3>
                    <div class="read">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'profileList' user.id %}" class="btn btn-primary read-m">Read More</a>
                        {% else %}
                        <a href="{% url 'guestProfile' %}" class="btn btn-primary read-m">Read More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="carousel-item item2">
                <div class="carousel-caption">
                    <h3>Engaging Purposeful
                        <span>and Creative</span>
                    </h3>
                    <div class="read">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'profileList' user.id %}" class="btn btn-primary read-m">Read More</a>
                        {% else %}
                        <a href="{% url 'guestProfile' %}" class="btn btn-primary read-m">Read More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="carousel-item item3">
                <div class="carousel-caption">
                    <h3>Create the lifestyle
                        <span>you desire</span>
                    </h3>
                    <div class="read">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'profileList' user.id %}" class="btn btn-primary read-m">Read More</a>
                        {% else %}
                        <a href="{% url 'guestProfile' %}" class="btn btn-primary read-m">Read More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="carousel-item item4">
                <div class="carousel-caption">
                    <h3>Engaging Purposeful
                        <span>and Creative</span>
                    </h3>
                    <div class="read">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'profileList' user.id %}" class="btn btn-primary read-m">Read More</a>
                        {% else %}
                        <a href="{% url 'guestProfile' %}" class="btn btn-primary read-m">Read More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<style>
    /* CSS styles go here */
    body {
        background-color: black;
        color: white;

    }
   
    h3,  h2 {
      margin: 0;
      text-align: center;
    }
    
    
    main {
      padding: 20px;
      max-width: 800px;
      margin: 0 auto;
    }
    .team-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      text-align: center;
    }
    .team-member img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
      /* New rules below */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
    }
    
    .team-member img:hover {
      transform: scale(1.2);
    }
    
    .team-member h3 {
      margin: 0;
    }
    .team-member p {
      margin: 0;
      font-style: italic;
    }
  </style>
</head>
<body>
  <header>
    <br>
    <h3>About WEBLOG</h3>
  </header>

  <main>
    <p>Welcome to My Blog Web App! This is a project we created for ALX Software Engineering School as part of our coursework.</p>
    <p>The goal of this web app is to provide a platform for bloggers to share their thoughts, ideas, and experiences with the world. Whether you're a seasoned writer or just starting out, we invite you to join our community and start sharing your stories today!</p><br>
    <h2>Our Team</h2><br>
    <div class="team-member">
      <img src="{% static 'images/nwabuezee.jpg' %}" alt="profile.pics">
      <h3>Nwabueze Franklin (Solo) </h3>
      <p>Software Engineer/Product Manager</p>
      <p>Email: nwafrank2017@gmail.com</p>
    </div>
    <div class="team-member">
      <img src="{% static 'images/femii.jpg' %}" alt="profile.pics">
      <h3> Opeyemi Alabi</h3>
      <p> Software Engineer </p>
      <p>Email: pymfemi@gmail.com </p>
    </div>
    <div class="team-member">
      <img src="https://via.placeholder.com/75x75" alt="Mike Johnson">
      <h3>Kingsley Nnamdi Abonyi</h3>
      <p>Student</p>
      <p>Email: kinabonyi@gmail.com</p>
    </div>
  </main>

  
    <!--//main-->
<!--footer-->
        <script src="" async defer></script>
        
        
</body>
</html>
