<!DOCTYPE html>
<html>
<head>
	<title>User Profile Page</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			padding: 20px;
		}
		h1 {
			font-size: 32px;
			margin-top: 0;
		}
		.profile-info {
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			margin-bottom: 20px;
		}
		.profile-picture {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
		}
		.profile-header {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
		}
		.profile-header h1 {
			margin-top: 20px;
			margin-bottom: 5px;
		}
		.profile-header p {
			margin-top: 0;
		}
		.profile-field {
			margin-bottom: 10px;
		}
		.profile-field label {
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.profile-field p {
			margin: 0;
		}
	</style>
</head>
<body>

	<div class="profile-info">
		<div class="profile-header">
			<img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
			<h1>John Doe</h1>
			<p>UI/UX Designer</p>
		</div>
		<div class="profile-field">
			<label>First Name:</label>
			<p>John</p>
		</div>
		<div class="profile-field">
			<label>Last Name:</label>
			<p>Doe</p>
		</div>
		<div class="profile-field">
			<label>Age:</label>
			<p>30</p>
		</div>
		<div class="profile-field">
			<label>Email:</label>
			<p>johndoe@example.com</p>
		</div>
		<div class="profile-field">
			<label>About:</label>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non velit vel ex interdum venenatis eu vitae ipsum. Vestibulum eget neque at elit blandit dignissim. Pellentesque ac lectus leo.</p>
		</div>
	</div>

</body>
</html>




<header>
	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			<div class="col-md-4 logo text-left">
				<a class="navbar-brand" href="{% url 'home' %}">
					<i class="fab fa-linode"></i> Weblog</a>
			</div>
			<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
				{% if request.user.is_authenticated %}
				<h3><span>Welcome Back {{user.username}}</span></h3>
				

				<span>
					<a href="{% url 'myProfile' user.id %}">
						<i class="far fa-user"></i> Profile </a>
				</span>

				<span>
					<a href="{% url 'profileList' user.id %}">
						<i class="fas fa-newspaper"></i> Blog Posts </a>
					</span>
	   
			</div>
			<div class="col-md-4 log-icons text-right">
				<span>
					<a href="{% url 'logoutUser' %}">
						<i class="fas fa-arrow-circle-right"></i> Log out </a>
					</span>
				</div>
{% else %}
				<span>
					<a href="{% url 'loginUser' %}">
						<i class="fas fa-arrow-circle-left"></i> Login </a>
					</span>
				
			</div>
			
		</div>
	</div>
{% endif %}
	<div class="header_top" id="home">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}">About</a>
					</li>
					{% if request.user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'myProfile' user.id %}">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'profileList' user.id %}">Blog</a>
						{% else %}
						<a class="nav-link" href="{% url 'guestProfile' %}">Blog</a>

						{% endif %}
					</li>

				</ul>


			</div>
		</nav>

	</div>
</div>
</header>
<!--//header-->













<header>
	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			<div class="col-md-4 logo text-left">
				<a class="navbar-brand" href="{% url 'home' %}">
					<i class="fab fa-linode"></i> Weblog</a>
			</div>
			<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
				{% if request.user.is_authenticated %}
				<h3><span>Welcome Back {{user.username}} </span></h3>
				
				<span>
					<a href="{% url 'myProfile' user.id %}">
						<i class="far fa-user"></i> Profile </a>
				</span>

				<span>
					<a href="{% url 'profileList' user.id %}">
						<i class="far fa-newspaper"></i> Blog Posts </a>
				</span>

				<div class="col-md-4 log-icons text-right">
					<span>
						<a href="{% url 'logoutUser' %}">
							<i class="fas fa-arrow-circle-right"></i> Log out </a>
					</span>
				</div>				

			</div>
			{% else %}
			<div class="col-md-4 log-icons text-right">
				<span>
					<a href="{% url 'loginUser' %}">
						<i class="fas fa-arrow-circle-left"></i> Login </a>
				</span>

			</div>
			{% endif %}
		</div>
	</div>

	<div class="header_top" id="home">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}"> About </a>
					</li>
					{% if request.user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'myProfile' user.id %}">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'profileList' user.id %}">Blog</a>
					{% else %}
						<a class="nav-link" href="{% url 'guestProfile' %}">Blog</a>

					</li>
					{% endif %}
				</ul>

			</div>
		</nav>

	</div>
</header>