{% include 'navbar.html'%}

{% block content %}
<title>User Profile Page</title>
	<style>
		.link {
			text-align: center;
		}
		
		 {
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			padding: 20px;
			height: 100vh;
		  }
		  
		  .profile-info {
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			margin-bottom: 20px;
			max-width: 600px;
			margin: 0 auto;
		  }
		  
		  .profile-picture {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
		  }
		  
		  .profile-header {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
		  }
		  
		  .profile-header h1 {
			margin-top: 20px;
			margin-bottom: 5px;
		  }
		  
		  .profile-header p {
			margin-top: 0;
		  }
		  
		  .profile-field {
			margin-bottom: 10px;
		  }
		  
		  .profile-field label {
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
		  }
		  
		  .profile-field p {
			margin: 0;
		  }
		  
	</style>
    <div class="profile-info">
		<div class="profile-header">
		
			<img src="{{profile.image.url}}" alt="Profile Picture" class="profile-picture">
			<h1>{{profile}} ({{profile.user}})</h1>
			<p>{{profile.occupation}}</p>

		</div>
		<div class="profile-field">
			<label>First Name:</label>
			<p>{{profile.first_name}}</p>
		</div>
		<div class="profile-field">
			<label>Last Name:</label>
			<p>{{profile.last_name}}</p>
		</div>
		<div class="profile-field">
			<label>Age:</label>
			<p>{{profile.age}}</p>
		</div>
		<div class="profile-field">
			<label>Email:</label>
			<p>{{profile.email}}</p>
		</div>
		<div class="profile-field">
			<label>About:</label>
			<p>{{profile.about}} </p>
		</div>
        {% if request.user == profile.user %}
        <h5><a href="{% url 'updateMe' profile.id %}"> Edit </a></h5>
        {% endif %}
		<a  class="link" href="{% url 'uploads' profile.id %}"> See {{profile.user}}'s uploads </a>
	</div>
{% endblock %}

